<h1>☻</h1>


<section id="intro">
  <form>
    <textarea name="poetry" id="text-input" cols="30" rows="10">
      
    </textarea>
    
    <input type="button" value="go" id="text-submit">
  </form>
</section>
