<h1 class="logo">☻</h1>


<section id="intro" class="intro">
  <h2>Give us Poetry, We'll give you music</h2>
  <textarea name="poetry" id="text-input" cols="30" rows="10">
  </textarea>
  
  <input type="button" value="go" id="text-submit">
</section>

<section id="player">
</section>