<h1 class="logo">☻</h1>


<section id="intro" class="intro">
  <h2>Give us <span class="color">Poetry</span>, We'll give you  <span class="color2">Music</span></h2>
  <form>
    <textarea name="poetry" id="text-input" cols="30" rows="10">
    </textarea>
    
    <input type="button" value="go" id="text-submit">
  </form>
</section>

<section id="player" class="begone_down">
  <h3>Hai</h3>
</section>
