// Place all the styles related to the highlander controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/reset";


// hack it up, wildcard
*, *:before, *:after {
  position: relative;
  box-sizing:border-box;
}


html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  overflow: hidden;
}


html, body {
  height:100%;
}
@-webkit-keyframes spin {
  0%   { -webkit-transform:rotateZ(0deg); }
  100% {
   -webkit-transform:rotateZ(720deg);
   }
}

.logo {
  font-size:5rem;
  text-align: center;
  line-height: 5rem;
  width:5rem;
  height: 5rem;
  -webkit-animation: spin 5s infinite;
  -webkit-animation-timing-function:linear;
  &:hover{
    text-shadow: 0 0 5px pink;
  }
}

#logo{
  z-index: 1000000000;
  cursor: pointer;
  top: 5;
  left: 5;
}

section {
    opacity: 1;
  -webkit-transform:translate3d(0,0,0);
  -webkit-transition:all 0.5s ease-out;
  position: absolute;
  top: 0;
  padding:5%;
  z-index: 1;
}
.intro {
  width: 100%;
  // background-color: red;
  h2 {
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
  }


  textarea {
    width:100%;
    height:30rem;
    border-radius:0.5rem 0.5rem 0 0;
    padding:2rem;
    font-size: 2rem;
    // box-shadow: inset 0 0 0 0.4rem black;

  }
  #text-submit {
    width:100%;
    height:4rem;
    background-color: black;
    text-align: center;
    border:none;
    color:white;
      font-weight: bold;
        border-radius: 0 0 0.5rem 0.5rem;
        margin-top: -0.4rem;
    &:hover {
      background-color: lighten(black, 30%);
    }
        &:active {
      background-color:desaturate(lighten(green, 30%), 50%);
    }
  }

  

}

.begone_down {
  opacity: 0;
  z-index: -1;
  -webkit-transform:translate3d(0,100%,0);
}

.begone_up {
  opacity: 0;
  z-index: -1;
  -webkit-transform:translate3d(0,-100%,0);
}





  .color {
    color:lighten(red, 30%);
  }

  .color2 {
    color:desaturate(lighten(green, 30%), 50%);
  }


// player
  // ==========================
  // 
.b_btn {
  display: inline-block;
  background-color: black;
  padding:1rem 2rem;
  color:white;
  text-decoration: none;
  border-radius: 0.4rem 0.4rem 0 0;
  font-weight: bold;
  // margin:2rem;

}


.loader {
  width:100%;
  text-align: center;
  margin-top: 3rem;
  -webkit-transition:all 0.5s ease-out;
  .loader__text {
    font-size: 3rem;
    font-weight: bold;
  }
}


.loader__progress {
  width: 70%;
  height: 4rem;

  margin: 3rem auto 0;
  box-shadow:0 0 0 0.4rem black;
}

.loader__progressbar {
    position: absolute;
    top: 0;
    height:100%;
    left: 0;
    background: red;
    content:"";
    width:0;
  }
.hidden {
  opacity: 0;
  z-index: -2;
}
.player {
  width:100%;

  .player__title {
    font-weight: bold;
    display: inline-block;
    font-size: 1.8rem;
    margin-left: 0.5rem;
  }
}


.player__canvas {
  border-radius: 0 0.4rem 0.4rem 0.4rem;
  width:100%;
  display: block;
  box-shadow: inset 0 0 0 0.1rem black;
  // background-color: red;
  height:40rem;
  background-size: cover;
  background-position: center center;
}

.fullscreen{
  .player__canvas, .player {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
  }
  .player__word{
    font-size: 150px;
  }
}

.player__word {
  z-index: 2;
  font-size: 80px;
  text-align: center;
  position: absolute;
  top:50%;
  left: 0;
  width:100%;
  // margin-left: -5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 0px 2px #000;
  // -webkit-text-stroke: 5px black;
  // -webkit-text-stroke-color: #000;
}

















