<h1 class="logo">☻</h1>


<section id="intro" class="intro">
  <h2>Give us <span class="color">Poetry</span>, We'll give you  <span class="color2">Music</span></h2>
  <textarea name="poetry" id="text-input" cols="30" rows="10">marcel likes to dance la bamba!</textarea>
  
  <a id="text-submit" href="#" class="b_btn">Go</a>
</section>

<section id="player" class="begone_down player">
  <a href="#" id="player-back" class="b_btn">Go Back</a>
  <h3 class="player__title">Sit back, Relax and <span class="color2">Enjoy</span></h3>
  
  <div id="player-canvas" class="player__canvas">
    <div id="word" class="player__word"></div>
    <!-- <img id="image" src=""  class="player__image"/> -->
  </div>
</section>

<section style="visibility: hidden" id="img-preloader">
</section>

